<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M5 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
<path d="M15 20a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
<path d="M5 20h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
<path d="M3 6l9 -4l9 4"></path>
</svg>
{% endif %}
