<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7 8l-4 4l4 4"></path>
<path d="M17 8l4 4l-2.5 2.5"></path>
<path d="M14 4l-1.201 4.805m-.802 3.207l-2 7.988"></path>
<path d="M3 3l18 18"></path>
</svg>
{% endif %}
