<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M12 20l2.463 -5.541m1.228 -2.764l.309 -.695l.8 1.8"></path>
<path d="M18 18h-5.1"></path>
<path d="M8.747 8.748c-.66 2.834 -2.536 4.252 -4.747 4.252"></path>
<path d="M4 6.371l2.371 0"></path>
<path d="M5 9c0 2.144 2.252 3.908 6 4"></path>
<path d="M3 3l18 18"></path>
</svg>
{% endif %}
