<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M3.5 5.5l1.5 1.5l2.5 -2.5"></path>
<path d="M3.5 11.5l1.5 1.5l2.5 -2.5"></path>
<path d="M3.5 17.5l1.5 1.5l2.5 -2.5"></path>
<path d="M11 6l9 0"></path>
<path d="M11 12l9 0"></path>
<path d="M11 18l9 0"></path>
</svg>
{% endif %}
