<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M14 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
<path d="M21 10a3.5 3.5 0 0 0 -7 0"></path>
<path d="M14 10a3.5 3.5 0 0 1 -7 0"></path>
<path d="M14 17a3.5 3.5 0 0 0 0 -7"></path>
<path d="M14 3a3.5 3.5 0 0 0 0 7"></path>
<path d="M3 21l6 -6"></path>
</svg>
{% endif %}
