<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
<path d="M14.5 16.05a3.5 3.5 0 0 0 -5 0"></path>
<path d="M8.5 11.5l1.5 -1.5l-1.5 -1.5"></path>
<path d="M15.5 11.5l-1.5 -1.5l1.5 -1.5"></path>
</svg>
{% endif %}
