<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M6.045 9.777a6 6 0 1 0 5.951 .023"></path>
<path d="M11.997 20.196a6 6 0 1 0 -2.948 -5.97"></path>
<path d="M17.95 9.785q .05 -.386 .05 -.785a6 6 0 1 0 -3.056 5.23"></path>
</svg>
{% endif %}
