<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M17 15.328c2.414 -.718 4 -1.94 4 -3.328c0 -2.21 -4.03 -4 -9 -4s-9 1.79 -9 4s4.03 4 9 4"></path>
<path d="M9 13l3 3l-3 3"></path>
</svg>
{% endif %}
