<c-vars variant="outline" stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

{% if variant == 'outline' %}
<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M20.942 13.02a9 9 0 1 0 -9.47 7.964"></path>
<path d="M3.6 9h16.8"></path>
<path d="M3.6 15h9.9"></path>
<path d="M11.5 3a17 17 0 0 0 0 18"></path>
<path d="M12.5 3c2 3.206 2.837 6.913 2.508 10.537"></path>
<path d="M20 21l2 -2l-2 -2"></path>
<path d="M17 17l-2 2l2 2"></path>
</svg>
{% endif %}
