<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 17h-3"></path>
<path d="M22 7h-5"></path>
<path d="M5 17H2"></path>
<path d="M7 7H2"></path>
<rect height="6" rx="2" width="14" x="5" y="14"></rect>
<rect height="6" rx="2" width="10" x="7" y="4"></rect>
</svg>
