<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M10 4 8 6"></path>
<path d="M17 19v2"></path>
<path d="M2 12h20"></path>
<path d="M7 19v2"></path>
<path d="M9 5 7.621 3.621A2.121 2.121 0 0 0 4 5v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5"></path>
</svg>
