<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M10 17h.01"></path>
<path d="M10 7v6"></path>
<path d="M14 6h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2"></path>
<path d="M22 14v-4"></path>
<path d="M6 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h2"></path>
</svg>
