<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="m22 11-1.296-1.296a2.4 2.4 0 0 0-3.408 0L11 16"></path>
<path d="M4 8a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2"></path>
<circle cx="13" cy="7" fill="currentColor" r="1"></circle>
<rect height="14" rx="2" width="14" x="8" y="2"></rect>
</svg>
