<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M19.5 7a24 24 0 0 1 0 10"></path>
<path d="M4.5 7a24 24 0 0 0 0 10"></path>
<path d="M7 19.5a24 24 0 0 0 10 0"></path>
<path d="M7 4.5a24 24 0 0 1 10 0"></path>
<rect height="5" rx="1" width="5" x="17" y="17"></rect>
<rect height="5" rx="1" width="5" x="17" y="2"></rect>
<rect height="5" rx="1" width="5" x="2" y="17"></rect>
<rect height="5" rx="1" width="5" x="2" y="2"></rect>
</svg>
