<c-vars stroke_width="2" stroke_linecap="round" stroke_linejoin="round" />

<svg {{ attrs }} fill="none" stroke="currentColor" stroke-linecap="{{ stroke_linecap }}" stroke-linejoin="{{ stroke_linejoin }}" stroke-width="{{ stroke_width }}" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M12 17v4"></path>
<path d="M8 21h8"></path>
<path d="m9 17 6.1-6.1a2 2 0 0 1 2.81.01L22 15"></path>
<circle cx="8" cy="9" r="2"></circle>
<rect height="14" rx="2" width="20" x="2" y="3"></rect>
</svg>
